.login .form1 {
  margin: 5px;
  padding-bottom: 5px;
}

.login .button1 {
  margin: 5px;
  padding-bottom: 5px;
}

/* .login {
  text-align: center;
} */

.login .btn-class {
  text-align: center;
}
